@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.Request {
    position: relative;
}
.Subheader {
    display: block;
    justify-content: space-between;
    align-items: center;

}

.Subheader button {
    position: relative;
    height: 30px;
    width: 100px;
    outline: none;
    border: 1px black solid;
}

.BottomBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BottomBar button {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}






.header {
    position: relative;
    background: darkgrey;
    height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridWrapper{
    width:86vw;
    margin-left: 7vw;
}

.generalResults{
    margin-top: 3vh;
    background-color: lightgray;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
}

.boxHeader{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: medium;
    font-weight: bold;
}

.requestButton, .editButton{
    position: absolute;
    border-radius: 0px;
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.requestButton{
    top: 37px;
    right: 40px;
}

.editButton{
    top: 37px;
    right: 160px;
}
