.NewHousehold {
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: 10% 50% 40%;
}

.NewHousehold h2 {
    grid-area: 1 / 1  / span 1 / span 50;
    margin: 0;
    align-self: center;
    padding-left: calc(5px + 5%)
}

.Select {
    position: relative;
    grid-area: 1 / 51 / span 1 / span 50;
    width: 40%;
    height: 100%;
    justify-self: flex-end;
    background: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.Select div:nth-child(2) {
    z-index: 999;
    position: absolute;
    border-bottom: solid 1px black;
    box-sizing: content-box;
}

.Select div {
    position: absolute;
    bottom: -1px;
    left: 0;
    background: white;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 200ms ease-out all;
}

.Select svg {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 30%;
    height: 40%;
    z-index: 10000;

}
/* input box */

.InputBox {
    grid-area: 2 / 1 / span 1 / span 50;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5% 5% 5% 5%;
}

/* future input box */

.FutureInputBox {
    position: relative;
    grid-area: 2 / 51 / span 1 / span 50;
    border-top: 1px solid black;
}

.InputBox input, .InputBox p{
    margin: 0;
    width: 40%;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
}

/* Summer */

.Summer {
    grid-area: 3 / 1 / span 1 / span 33;
    background: lightsalmon;
}

/* Winter */

.Winter {
    grid-area: 3 / 34 / span 1 / span 34;
    background: lightskyblue;
}

/* Spring/Fall */

.Fall {
    grid-area: 3 / 68 / span 1 / span 33;
    background: lightseagreen;
}