@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.Header {
    position: relative;
    background: darkgrey;
    height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsCharts{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;

}

.Results p {
    text-align: center;
}

#supplyGraphContainer, #investmentArcContainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsGrid{
    display: grid;
    grid-template-columns: auto 80vw auto;
    width: 100vw;
}
.cycleForward{
    grid-column: 3 / 4 ;
}

.cycleBack {
    grid-column: 1 / 2;
}

.cycleBack, .cycleForward{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}