@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.header {
    position: relative;
    background: darkgrey;
    height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridWrapper{
    width:86vw;
    margin-left: 7vw;
}

.generalResults{
    margin-top: 3vh;
    background-color: lightgray;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
}

.boxHeader{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: medium;
    font-weight: bold;
}

.generalResultsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.generalInformationPiece{
    display: inline-flex;
    margin-left: 20px;
    margin-top: 10px;
}

.generalInformationKey{
    background-color: darkgrey;
    color: black;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px 0 0 4px;
    font-weight:bold;
    font-size: 16px;
}

.generalInformationValue {
    background-color: white;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    margin-right: 5px;
}

.idHeader{
    font-size: medium;
    font-weight: bold;
}

.requestButton, .editButton{
    position: absolute;
    border-radius: 0px;
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.requestButton{
    top: 37px;
    right: 40px;
}

.editButton{
    top: 37px;
    right: 160px;
}

.spinnerOverlay{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(230, 230, 230, 0.8);
    z-index: 3;
}

.loadSpinner{
    position: absolute;
    top: 50vh;
    left:50vw;
}
