#graphContainer{
    height: 100%;
}
.tooltip{
    position: absolute;
    pointer-events: none;
    background: darkgray;
    padding: 5px;
    border-radius: 5px;
}

.idContainer{
    border-radius: 100%;
    background: black;
    color: white;
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

.id{
    padding-top: 0.4vw;
    font-size: 1.8vw;
}